#cabecera{
    position: absolute;
    color: white;
    text-align: center;
    width: 800px;
    background-color: #3a3e77;
}

#cuerpo{
    position: absolute;
    top: 209px;
    color: white;
    width: 800px;
    background-color: #252850;
}

#bot{
    position: absolute;
    top: 550px;
}

#todo{
    position: absolute;
    left: 20%;
}