@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
}

.grid-container > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.header{
  grid-area: header;
  background-color: chartreuse;
}
.navbar{
  grid-area: navbar;
  background-color: rgb(0, 183, 255);
}
.main{
  grid-area: main;
  background-color: rgb(255, 0, 0);
}
.sidebar{
  grid-area: sidebar;
  background-color: rgb(255, 251, 0);
}
.footer{
  grid-area: footer;
  background-color: rgb(255, 0, 234);
}

.grid-container{
  display:grid;
  gap: 10px;
  grid-template: "header header" 100px "navbar navbar" 50px "sidebar main" auto "footer footer" 100px/200px auto;
}
