
* {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    background-color: #282c34;
    font-family: sans-serif;
    font-size: 3rem;
  }

  .contenedorGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 15px;
    padding: 20px;
  }

  .item-grid{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
  
  .item-grid:hover{
    transform: scale(1.04);
    transition: .3s;
  }
  .doblecol{
    grid-column: span 2;
  }

  .doblefila{
    grid-row: span 2;
  }

  .contenedorNuevo{
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 15px;
    padding: 20px;
  }

.fotos{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.fotos:hover{
  transform: scale(1.04);
    transition: .3s;
}

.doble{
  grid-column: span 2;
}

.dobleFila{
  grid-row: span 2;
}