#caso1{
    border-style: solid;
    border-color: black;
    width: 50%;
    font-size: 1em;
}
#caso2{
    border-style: solid;
    border-color: red;
    width: 33%;
    font-size: 1.2em;
}
#caso3{
    border-style: solid;
    border-color: blue;
    width: 25%;
    font-size: 0.8em;
}